@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("/public/Fonts/Helvetica/Helvetica.css");
$font-family: "Inter", sans-serif;
$second-family: "Poppins", sans-serif;
$third-family: "SF UI Display", sans-serif;
$font3: "Helvetica", sans-serif;
@mixin no-select() {
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}
.container {
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 21px;
    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 43px;
        line-height: 125%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #1d1d1f;
    }

    &__p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #1d1d1f;
        span {
            font-weight: 600;
        }
    }
}
.box-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    .box-item {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        padding: 32px 0px 0 32px;
        background: linear-gradient(135deg, #ebebeb 0%, #f5f5f7 100%);
        position: relative;
        &__title {
            font-family: $second-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 125%;
            letter-spacing: -0.01em;
            color: #1d1d1f;
        }

        &__p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 17px;
            line-height: 125%;
            letter-spacing: 0.01em;
            color: #3c3c3c;

            max-width: 350px;
            margin-top: 17px;
        }

        &__img {
            display: flex;
            align-items: center;
            justify-content: end;
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}

//header////////////////////////////////////////////////////////////////////////////////////////////
.header {
    &__container {
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logotip {
            @include no-select();
        }
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    &__item {
        font-family: $font-family;
        font-weight: 500;
        font-size: 17px;
        color: #1d1d1f;
        text-decoration: none;

        @include no-select();
    }
}
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    &__elem {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 47px;
        height: 47px;
        border-radius: 12px;
        background-color: #1d1d1f;
        @include no-select();
    }

    &__phNum {
        @include no-select();
        font-family: $font-family;
        font-weight: 700;
        font-size: 16px;
        color: #fff;
        border-radius: 12px;
        padding: 14px 20px;
        width: 207px;
        height: 47px;
        background: #3858d6;
    }
}
.whatsapp {
}
.telegram {
}

//main////////////////////////////////////////////////////////////////////////////////////////////
.main {
    &__container {
    }
}

//ads////////////////////////////////////////////////////////////////////////////////////////////
.ad {
    &__advices {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 38px;
        margin: 86px 0;
        .ad__cup {
            max-width: 350px;
            width: 100%;
            color: #3c3c3c;
        }
    }
    &__a {
        font-family: $font-family;
font-weight: 400;
font-size: 17px;
line-height: 125%;
letter-spacing: 0.01em;
color: #3c3c3c;
text-decoration: none;
    }
    &__advice {
    }

    &__advice-title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #1d1d1f;
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 54% 46%;
        justify-content: space-between;
        align-items: end;
        background: linear-gradient(135deg, #8fa6ff 0%, #3858d6 100%);
        border-radius: 20px;
        padding: 0 0 0 64px;
    }

    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 110px 0;
    }

    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 57px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #f5f5f7;
    }

    &__cup {
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #efefef;

        margin-top: 21px;
    }

    &__p {
        font-family: $font-family;
        font-weight: 600;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #efefef;

        margin-top: 36px;
    }

    &__btns {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    &__right {
        height: 100%;
        width: 100%;
        position: relative;
    }

    &__img {
        border-radius: 20px;
        left: 0;
        bottom: 0;
        width: 100%;
        position: absolute;
    }
    &__img-sec {
        border-radius: 20px;
        left: 360px;
        bottom: 300px;
        width: 36%;
        position: absolute;
    }
}

//price-list////////////////////////////////////////////////////////////////////////////////////////////
.price-list {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        margin: 64px 0 92px;
    }

    &__items {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 48px 120px;
    }
}
.pl {
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        max-width: 264px;
    }

    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 24px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #1d1d1f;

        margin-top: 32px;

        span {
            color: #3858d6;
        }
    }

    &__p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #8b8e99;

        margin: 8px 0 16px 0;
    }
}
//Brands////////////////////////////////////////////////////////////////////////////////////////////

.brands {
    &__wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 100%;
        margin: 0 auto;
        margin-top: 32px;
    }

    &__item {
    }
}

//About-us////////////////////////////////////////////////////////////////////////////////////////////

.about-us {
    &__wrapper {
        margin-top: 85px;
    }

    &__inform {
        margin: 85px 0 85px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 96px;
    }

    &__quality {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    &__gallary {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
        margin-top: 85px;
    }
}
.inform {
    &__elem {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;
    }

    &__title {
        font-family: $font-family;
        font-weight: 600;
        font-size: 36px;
        text-align: center;
        color: #3858d6;
    }

    &__p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #3c3c3c;
    }
}
.quality {
    &__item {
        border-radius: 20px;
        flex-direction: column;
        padding: 42px 30px 10px 42px;
    }
    &__item:nth-child(1) {
        background: linear-gradient(135deg, #5792ff 0%, #9cbfff 100%);
    }
    &__item:nth-child(2) {
        background: linear-gradient(315deg, #fc7e9a 0%, #f5535d 100%);
    }
    &__item:nth-child(3) {
        background: linear-gradient(134deg, #9be700 0%, #c8ec8c 100%);
    }
    &__item:nth-child(4) {
        background: linear-gradient(135deg, #ff9128 0%, #ffcc9c 100%);
    }
    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 36px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #1d1d1f;
    }

    &__p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #3c3c3c;
        margin: 16px 0 24px;
    }

    &__img-box {
        display: flex;
        align-items: center;
        justify-content: end;
    }
}
.gallary {
    &__item {
        border-radius: 20px;
        width: 100%;
    }
}

//Services////////////////////////////////////////////////////////////////////////////////////////////

.services {
    margin-top: 85px;
    .box-item {
        height: 360px;
    }
    .box-items {
        margin-top: 85px;
    }
}

//payment////////////////////////////////////////////////////////////////////////////////////////////

.payment {
    margin-top: 85px;
    .box-item {
        height: 259px;
    }
    .box-items {
        margin-top: 85px;
        grid-template-columns: repeat(4, 1fr);
    }
}

//delevery////////////////////////////////////////////////////////////////////////////////////////////

.delevery {
    margin-top: 85px;
    &__container {
        margin-top: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    &__box {
        position: relative;
        z-index: 1;
    }

    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 32px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #fff;
    }

    &__p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #d2d2d2;

        max-width: 400px;
        margin-top: 10px;
    }

    &__gallary {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 32px;
    }
}
.fullfillment {
    background-image: url("../public/icons/fullfillment.png");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 740px;
    display: flex;
    align-items: end;
    padding: 0 0 42px 32px;

    border-radius: 20px;
    position: relative;
}
.transportCo {
    background-image: url("../public/icons/transportCo.png");
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 740px;
    display: flex;
    align-items: end;
    padding: 0 0 42px 32px;
    border-radius: 20px;
    position: relative;
}
.effect {
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
    mix-blend-mode: darken;
    bottom: 0;
    left: 0;
    border-radius: 20px;
}

//form////////////////////////////////////////////////////////////////////////////////////////////

.form {
    &__container {
        background: linear-gradient(135deg, #7caaff 0%, #1f66ea 100%);
        border-radius: 20px;
        margin-top: 85px;
    }
    &__box {
        padding: 70px 0 70px 62px;
    }
    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 43px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #fff;
        margin-bottom: 21px;
    }

    &__p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #efefef;
        margin-bottom: 21px;
    }

    &__input {
        border-radius: 8px;
        padding: 0px 16px;
        max-width: 664px;
        height: 56px;
        width: 100%;
        border: 0;
        outline: 0;
        margin-bottom: 24px;
    }
    &__img {
        position: relative;
        img {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    label {
        font-family: $font-family;
        font-weight: 400;
        font-size: 18px;
        line-height: 133%;
        color: #efefef;
    }
}
.submit-box {
    display: flex;
    button {
        font-family: $font-family;
        font-weight: 600;
        font-size: 18px;
        line-height: 133%;
        color: #1d1d1f;
        margin-left: 52px;
        padding: 16px 32px;
    }
}
.chech-box {
    label {
        font-family: $font-family;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #efefef;
    }
}

//Buttons////////////////////////////////////////////////////////////////////////////////////////////

.btn,
.btn-sec {
    font-family: $font-family;
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    text-align: center;
    color: #fff;
}
.btn {
    border-radius: 12px;
    padding: 21px 24px;

    background: #3858d6;
    border: 0;
}
.btn-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 12px;
    padding: 18px 24px;
    border: 0;
    background: #1d1d1f;
}
.btn-white {
    border-radius: 12px;
    padding: 21px 24px;
    background: #fff;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-family: $second-family;
    font-weight: 700;
    font-size: 17px;
    line-height: 125%;
    text-align: center;
}

//steps////////////////////////////////////////////////////////////////////////////////////////////

.steps {
    &__wrapper {
        display: flex;
        width: 70%;
        margin: 0 auto;
        align-items: start;
        justify-content: space-between;
        position: relative;
    }
    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 43px;
        line-height: 125%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #1d1d1f;
        margin: 96px 0 85px;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &-title {
            font-family: $font-family;
            font-weight: 700;
            font-size: 17px;
            line-height: 106%;
            text-align: center;
            color: #1d1d1f;
            margin-top: 12px;
        }
        &-p {
            font-family: $font-family;
            font-weight: 400;
            font-size: 17px;
            line-height: 125%;
            letter-spacing: 0.01em;
            text-align: center;
            color: #3c3c3c;
            margin-top: 16px;
        }
    }
}
.steps .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    color: #999;
    font-size: 22px;
    font-weight: 500;
    border-radius: 50%;
    background: #3858d6;
    border: 0;
    transition: all 200ms ease;
    transition-delay: 0s;
    img {
        margin-top: 1px;
    }
}

.steps .progress-bar {
    position: absolute;
    height: 2px;
    width: 80%;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    top: 7px;
    background: #3858d6;
    z-index: -1;
}

//search////////////////////////////////////////////////////////////////////////////////////////////

.search {
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 43px;
        line-height: 125%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #1d1d1f;
        span {
            color: #3858d6;
        }
    }

    &__sup {
        font-family: $second-family;
        font-weight: 600;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #8b8e99;

        margin-top: 8px;
    }

    &__p {
        font-family: $second-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        text-align: center;
        color: #1d1d1f;

        margin-top: 21px;
    }

    &__input {
        position: relative;
        margin-top: 32px;
        max-width: 296px;
        width: 100%;
        input {
            border: 1px solid #ced2d6;
            border-radius: 6px;
            width: 100%;
            height: 40px;
            outline: 0;
            padding: 0 0 0 14px;

            font-family: $font-family;
            font-weight: 400;
            font-size: 15px;
            line-height: 125%;
            letter-spacing: -0.01em;
            color: #ced2d6;
        }
        img {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__choose {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        margin-top: 48px;
    }
}
.choose {
    &__item {
        border: 1px solid #000;
        border-radius: 100px;
        padding: 10px 16px;
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #000;
        transition: all 300ms ease;
    }
    &__item:hover {
        color: #fff;
        border: 1px solid #3858d6;

        background: #3858d6;
        transition: all 300ms ease;
    }
}

//footer////////////////////////////////////////////////////////////////////////////////////////////

.footer {
    background: linear-gradient(152deg, #1f66ea 2.99%, #03196f 100%);
    &__container {
        margin-top: 136px;
    }
    &__box {
        padding: 170px 0 88px;
    }
    &__title {
        font-family: $second-family;
        font-weight: 600;
        font-size: 43px;
        line-height: 125%;
        letter-spacing: -0.01em;
        color: #fff;
    }

    &__p {
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        color: #d2d2d2;

        margin-top: 21px;
        margin-bottom: 72px;
    }

    &__btn-box {
        display: flex;
        align-items: center;
        gap: 24px;
        margin-bottom: 152px;
    }

    &__a {
        font-family: $font-family;
        font-weight: 400;
        font-size: 17px;
        line-height: 125%;
        letter-spacing: 0.01em;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: rgba(210, 210, 210, 0.5);
    }
    &__img {
        position: relative;
        img {
            position: absolute;
            right: -20%;
            bottom: 0px;
        }
    }
}
